@media screen and (max-width: 688px) {
    .links:nth-child(1),
.links:nth-child(2),
.links:nth-child(3),
.links:nth-child(4),
.links:nth-child(5),
.links:nth-child(6),
.links:nth-child(7),
.links:nth-child(8){
    width: 32px;
    height: 28px;
}
}
.links:nth-child(1),
.links:nth-child(2),
.links:nth-child(3),
.links:nth-child(4),
.links:nth-child(5),
.links:nth-child(6),
.links:nth-child(7),
.links:nth-child(8){
    padding: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.links:nth-child(1):hover,
.links:nth-child(2):hover,
.links:nth-child(3):hover,
.links:nth-child(4):hover,
.links:nth-child(5):hover,
.links:nth-child(6):hover,
.links:nth-child(7):hover,
.links:nth-child(8):hover{
    box-shadow: 0 0 25px rgba(189, 165, 165, 0.751);
}