.button {
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    height: 2.8rem;
    padding: 0 0.9rem;
    border-radius: 1.5rem;
    background: rgb(0, 148, 171);
    background-size: 400%;
    color: #f4f3f3;
    border: none;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
    
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      teal 10.8%,
      rgb(58, 187, 185) 94.3%
    );
    transition: all 0.475s;
  }
  .button:active {
    transform: scale(0.95);
  }