@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #009dff #262727;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #242323;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #009dff;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #3cb3fd;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #2caeff;
  }
  